body {
 background-color; #fefaf5
 font-family; Arial, sans-serif;
 margin: 0;
 padding: 0;
 color: #2ca350;
}

header {
 text-align: center;
 padding: 40x 20px
 background-color: #fff
qborder-bottom: 2px solid #eee;
}

h1 { 
 margin-bottom: 10px;
 color: #2ca350
}

p {
 color: #344955
}

#navbar {
 display: flex;
 justify-content: center;
 gap: 20px;
 background-color: #f5f5f5
 padding: 15px;
}

a.nav-link {
 text-decoration: none;
 color: #2ca350;
 font-weight: bold;
}

a.nav-link:hover {
 color: #1d7f3b;
 text-decoration: underline;
}
section {
 padding: 60px 20px;
 text-align: center;
}

#home, #who-we-are {
 background-color: #fff;
 margin-bottom: 20px;
}

#home h2, #who-we-are h2 {
 font-size: 2em;
 margin-bottom: 10px;
 color: #2ca350;
}

#services {  
 background-color: #fefaf5;
 padding: 100px 20px;
 text_align: center;
}

#services h2 {
 font-size: 2rem;
 color:#2ca350;
}

#services p {
 font-size: 1.2rem;
 margin-top: 10px;
 color: #344955;

#contactus { 
 background-color: #f5f5f5;
 padding: 100px 20px;
 text-align: center;
}

#contactus h2 {
 font-size: 2rem
 color: #2ca350;
}

#contactus p,
#contactus a { 
 font-size: 1.2rem
 color: #344955;
 text-decoration: none;
}

